@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap');


:root{
    --Playfair: 'Playfair Display', serif;
    --Amatic: 'Amatic SC', cursive;
    --Rufina: 'Rufina', serif;
    --Roboto: 'Roboto', sans-serif;
    
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Roboto);
    box-sizing: border-box;
}

a{
    width: 30%;
    height: auto;
}

body{
    line-height: 1.4;
    background-color: #EED6C4;
}





ul{
    list-style: none;
}

a{
    text-decoration: none;
}




.container{
    max-width: 1170px;
    margin:  auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}
/*header*/

.header{
    background-color: #6B4F4F;
    padding: 12px 0;
    line-height: 1.5;
}
.main-title, span{
  color: white;
}


.header .logo,
.header .nav{
    padding: 0 15px;
}

.header .logo a{
    font-size: 30px;
    color: #EED6C4;
    text-transform: capitalize;
    font-family: --Playfair;
}

.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}
.header .nav ul li a{
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    padding: 10px 0;
    transition: all 0.5s ease;
}


.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: #EED6C4;
}
/*header end*/


/*responsiv toggle*/

.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #EED6C4;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color:#6B4F4F;
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: #6B4F4F;
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}


/*responsiv toggle end*/

/*Banner*/

.banner{
    min-height: 100vh;
    background: url(/media/r-architecture-TRCJ-87Yoh0-unsplash.jpg) center/ cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: #ffff;
    text-align: center;
}
.main-title{
    font-size: 3rem;
}
.main-title span {
    font-family: var(--Playfair);
    color: #6B4F4F;
}
p{
    color: #6B4F4F;
}
/*icon*/

.fa, .fab, .fad, .fal, .far, .fas{
    color: #EED6C4;
}


/*Featured items*/


.title h2{
    text-align: center;
    color: #6B4F4F;
    font-family: var(--Playfair);
}

.title p{
    text-align: center;

}

.search {
  margin: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background: #6B4F4F;
  text-align: center;
  color: white;


}

.search::placeholder{
  color: white;
}





/*Products*/

.products{
    padding: 4rem 0;
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    
    

}

.img-container {
    position: relative;
    overflow: hidden;
}

.cart-btn{
    position: absolute;
    top: 70%;
    right: 0;
    background-color: #6B4F4F;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
    color: #EED6C4;

}

.view-btn{
  position: absolute;
    top: 70%;
    left: 0;
    background-color: #6B4F4F;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all 0.3s linear;
    transform: translatex(-101%);
    cursor: pointer;
    color: #EED6C4;
}

.img-container:hover .view-btn {
  transform: translateX(0);
}

.view-btn a{
  color: #EED6C4;
}

  .fa-shopping-cart {
    margin-right: 0.5rem;
  }

  .toggle-cart{
    background: none;
    border: none;
  }
  .img-container:hover .cart-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: all 0.3s linear;
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #6B4F4F;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: 0.1rem;
    color: #6B4F4F;
    text-align: center;
  }


  /* Shopping Cart*/

  
  

 .cart{
     
     margin: auto 0;
     overflow: scroll;
     background-color:#FFF3E4;
     padding: 7.5rem;
    
    

 }

 .cart h2{
   color:#6B4F4F;
 }

 .cart span{
  color: #000000;
}


 //login
.menu-container, h1{
  color: #6B4F4F;
}
 .menu-container {
  max-width: 760px;
  margin: 0 auto;
}

form {
  padding: 2em;
  background:#6B4F4F;
  border-radius: 1rem;
}

.usernameInput {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}
.passwordInput {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}
.submitt-btn {
  background:#EED6C4;
  border: none;
  width: 200px;
  padding: 1rem;
  color:#6B4F4F;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}

label {
  display: block;
  margin-top: 1rem;
}
 
.message {
  width: 100%;
  padding: 1rem;
  border: 1px solid grey;
  color: grey;
}

.message.error {
  border-color: red;
  color: white;
  background: red;
}

.message.warning {
  color: rgb(0, 0, 0);
  background: rgb(255, 252, 64);
  border: none;
}

.message.success {
  border-color: green;
  color: white;
  background: green;
}

li span{
  color: rgb(170, 185, 252);
}

//logout

#logout{
  width: auto;
  border: none;
  background:none;
  color: aquamarine;
  cursor: pointer;
}

//adding products

.titleInput{
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}
.priceInput{
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

.descriptionInput{
  width: 100%;
  margin-top: 2px;
  padding: 30px;
  font-size: 16px;

}

//editpage

textarea{
  width: 100%;
  margin-top: 2px;
  padding: 30px;
  font-size: 16px;
 

}


.edit-form {
  display: none;
}

.loading{
  color: rgb(0, 0, 0);
}

//details

.detail-container{

  width: 90vw;
  margin: auto;
  max-width: 1170px;
  text-align: center;


}

button.delete{
  background:#f37777;
  border: none;
  width: 200px;
  padding: 1rem;
  color:#ffffff;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}
 

 /*mediaqueryes*/

 @media screen and (min-width: 375px) {
   
 }
  
 @media screen and (min-width: 768px) {
    
  
  
  
  .cart {
      width: 30vw;
      min-width: 450px;
    }
  }

  
  
  
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }


  /*cart Item*/

  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: #6B4F4F;
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
    color: #6B4F4F;
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color:#6B4F4F;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: #6B4F4F;
    cursor: pointer;
  }

  .cart-footer {
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #6B4F4F;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  .clear-cart{
      border-radius: 10px;
      padding: 15px;
      border: none;
      background-color: #6B4F4F;
      color: #EED6C4;
      cursor: pointer;

  }


  

/*footer*/

footer{
    background: #6B4F4F;
    color: #EED6C4;
    text-align: center;
    padding: 2rem 0;
 
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.social-links a{
    border: 2px solid #EED6C4;
    color: #EED6C4;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
   
}

.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}




@media(max-width:991px){

  .product-img {
    display: block;
    width: 50%;
    min-height: 1rem;
    transition: all 0.3s linear;
  }
  .img-container:hover .product-img {
    opacity: 0.2;
  }
  


.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 570px;
    
    

}


   .nav-toggler{
   	display: block;
   }
   .header .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0px;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   }
   .header .nav.open{
   	visibility: visible;
   }
   .header .nav ul{
   	padding:12px 15px 0;
   	margin-top: 12px;
   	border-top:1px solid rgba(255,255,255,0.2);
   }
   
   
   
  
  
  }
  

 
 