@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap");
:root {
  --Playfair: 'Playfair Display', serif;
  --Amatic: 'Amatic SC', cursive;
  --Rufina: 'Rufina', serif;
  --Roboto: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--Roboto);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  width: 30%;
  height: auto;
}

body {
  line-height: 1.4;
  background-color: #EED6C4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*header*/
.header {
  background-color: #6B4F4F;
  padding: 12px 0;
  line-height: 1.5;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  color: #EED6C4;
  text-transform: capitalize;
  font-family: --Playfair;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  padding: 10px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
  color: #EED6C4;
}

/*header end*/
/*responsiv toggle*/
.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #EED6C4;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 15px;
}

.nav-toggler:focus {
  outline: none;
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.nav-toggler span {
  height: 2px;
  width: 20px;
  background-color: #6B4F4F;
  display: block;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-toggler.active span {
  background-color: transparent;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6B4F4F;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-toggler span::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.nav-toggler.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggler span::after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.nav-toggler.active span::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/*responsiv toggle end*/
/*Banner*/
.banner {
  min-height: 100vh;
  background: url(/media/r-architecture-TRCJ-87Yoh0-unsplash.jpg) center/cover no-repeat fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  color: #ffff;
  text-align: center;
}

.main-title {
  font-size: 3rem;
}

.main-title span {
  font-family: var(--Playfair);
  color: #6B4F4F;
}

p {
  color: #6B4F4F;
}

/*icon*/
.fa, .fab, .fad, .fal, .far, .fas {
  color: #EED6C4;
}

/*Featured items*/
.title h2 {
  text-align: center;
  color: #6B4F4F;
  font-family: var(--Playfair);
}

.title p {
  text-align: center;
}

/*footer*/
footer {
  background: #6B4F4F;
  color: #EED6C4;
  text-align: center;
  padding: 2rem 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.4rem;
}

.social-links a {
  border: 2px solid #EED6C4;
  color: #EED6C4;
  display: block;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 0.3rem;
}

.footer span {
  margin-top: 1rem;
  display: block;
  font-family: var(--Playfair);
  letter-spacing: 2px;
}

@media (max-width: 991px) {
  .nav-toggler {
    display: block;
  }
  .header .nav {
    width: 100%;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header .nav.open {
    visibility: visible;
  }
  .header .nav ul {
    padding: 12px 15px 0;
    margin-top: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header .nav ul li {
    display: block;
    margin: 0;
  }
}
/*# sourceMappingURL=styles.css.map */